<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue JS | Tutorial</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
  <div class="container">

    <div id="app">

      <h1>{{message}}</h1>
      <p v-text="messagetext"></p>
      <h3 v-html="messagehtml"></h3>
      <p v-show="messageshow">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

      <p v-if="messageshow">V-IF Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p v-else="messageshow">V-ELSE Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

      <h2 v-bind:title="title">{{message2}}</h2>
      <img v-bind:src="url" v-bind:alt="title">
      <img :src="url" :alt="title">

      <ul>
        <li v-for="todo in todos">{{todo.id}} - {{todo.text}}</li>
      </ul>
      <ul><li v-for="count in count">Item #{{count}}</li></ul>

      <p>{{inputval}}</p>
      <input type="text" v-model="inputval">

      <h3>Count: {{count}}</h3>
      <button class="btn btn-success" v-on:click="countUp">Count Up</button>
      <button class="btn btn-danger" v-on:click="countDown">Count Down</button>

      <h5><a :href="webUrl">Visit: {{cleanUrl}}</a></h5>
      <input type="text" v-model="webUrl">
      <button class="btn btn-default" @click="humanizeUrl">Humanize Me!</button>

      <hr>
      <h4>Hello, {{fullname}}</h4> <p>
      <span>First Name: {{fname}}</span> <br>
      <span>Last Name: {{lname}}</span> </p>
      <p>
      <span>First Name: <input type="text" v-model="fname"></span>
      <span>Last Name: <input type="text" v-model="lname"></span> </p>
      <hr>

      <h3>You are {{label}}</h3>
      <h4>Your point: {{countPoint}}</h4> <p>
      <button type="button" class="btn btn-success" @click="addPoint">Add Point</button>
      <button type="button" class="btn btn-danger" @click="decreasePoint">Decrease Point</button> </p>


    </div>
  </div>


    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          message: "Hello Vue world",
          messagetext: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
          messagehtml: 'Lorem ipsum dolor sit amet <small>sub heading</small>',
          messageshow: false,

          message2: 'Show title attributes on hover',
          title: 'you have loaded page on ' + new Date(),
          url: 'img/logo.png',

          todos: [
            { text: 'Learn Vue.js', id: 2 },
            { text: 'Learn React', id: 3 },
            { text: 'Learn Angular', id: 4 },
            { text: 'Learn TypeScript', id: 6 }
          ],
          count: 10,

          inputval: 'Input box Message',

          webUrl: "",
          cleanUrl: "",

          fname: '',
          lname: '',

          countPoint: 0,

        },

        methods: {
          countUp: function(){
            this.count += 1
          },
          countDown: function(){
            this.count -= 1
          },

          humanizeUrl: function(){
            this.cleanUrl = this.webUrl.replace(/^https?:\/\//,'').replace(/\/$/,'')
          },

          addPoint: function(){
            this.countPoint += 10
          },
          decreasePoint: function(){
            this.countPoint -= 10
          }
        },

        computed: {
          fullname: function() {
            return this.fname +" "+ this.lname
          },

          label: function(){
            if (this.countPoint >= 200) {
              return "Pro"
            } else if (this.countPoint >= 100) {
              return "Intermediate"
            }else if (this.countPoint >= 0) {
              return "Beginner"
            }else{
              return "Banned"
            }
          }
        }

      })
    </script>
  </body>
</html>
